<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <label for="lang">Baraja</label>
        <select name="barajas" id="baraja">
          <option value="española" id="esp">Española</option>
          <option value="francesa" id="fran">Francesa</option>
        </select>
        <button id="add" onclick="crearBaraja()">Seleccionar</button>
    </form>
    <textarea name="mesa" id="mesa" cols="30" rows="40"></textarea>
</body>
</html>